<div class="event">

    <h3 class="event-name">{{event.title}}</h3>

    <p class="event-date inline"><i class="fa fa-calendar-o"></i> {{event.date-begin | date: "%A, %b %e"}}
        {% if eventDateEnd > eventDateBegin %}
        - {{event.date-end | date: "%A, %b %e"}}
        {% endif %}
    </p>

    {% if event.time %}
    <p class="event-time inline"><i class="fa fa-clock-o"></i> {{event.time}}</p>
    {% endif %}

    {% if event.location %}
    <p class="event-location"><i class="fa fa-map-marker"></i> {{event.location}}</p>
    {% endif %}

    {% if event.excerpt %}
    <p class="event-info">{{event.excerpt}}</p>
    {% endif %}

    {% for link in event.links %}
    <a class="event-link-btn" href="{{link.path}}" target="{{link.target}}" >{{link.title}}
        <i class="fa fa-external-link"></i>
    </a>
    {% endfor %}

    <!-- {% for link_hash in event.links %}
    {% for link in link_hash %}
    <a class="event-link-btn" href="{{link[1]}}" target="{{link[2]}}">{{link[0]}}
        <i class="fa fa-external-link"></i>
    </a>
    {% endfor %}
    {% endfor %} -->

</div>
