<footer>
    <div class="footer-container">
        <div class="col">
            <h5>Related Links</h5>
            <a href="/prom">PROM</a>
            <a href="/archives">Events Archives</a>
            <a class="subscribe-btn">Subscribe</a>
            <a href="https://www.facebook.com/groups/ucsdcses/" target="_blank">Facebook Group</a>
            <br />
            <!-- <p><img src="/images/cses-logo-4000.png" alt="CSES Logo" /></p> -->
        </div>
        <div class="col">
            <h5>Related Orgs</h5>
            <a>Link 1</a>
            <a>Link 2</a>
            <a>Link 3</a>
            <a>Link 4</a>
        </div>
        <div class="col">
            <p>UC San Diego</p>
            <!-- <a href="http://ucsd.edu/" target="_blank"><img src="/images/ucsd-logo.png" alt="UCSD Logo" /></a> -->
            <p>9500 Gilman Dr.</p>
            <p>La Jolla, CA 92093</p>
            <br />
            <p>&copy; 2016 CSES</p>

            <!-- TODO: get email -->
            <!-- <a>OUREMAIL@gmail.com</a> -->
            <!-- <p><img src="/images/ucsd-logo.png" alt="UCSD Logo" /></p> -->
        </div>
        <div class="footer-icons">
            <div class="col">
                <img class="footer-cses-logo" src="/images/cses-logo-4000.png" alt="CSES Logo" />
            </div>
            <div class="col"></div>
            <div class="col">
                <img class="footer-ucsd-logo" src="/images/ucsd-logo.png" alt="UCSD Logo" />
            </div>
        </div>
    </div>
</footer>
